.vscode

__pycache__
.ruff-cache
.python-version
.env
.venv

av_navigation/core/onnxruntime
av_navigation/core/test_data
av_navigation/yolo
python/files/yolo/dataset/inputs
python/files/yolo/dataset/outputs
python/files/yolo/models
python/files/yolo/videos
python/files/evaluation
av_simulation/modules

build
install
log
